@import url("01-root.css");
@import url("02-global.css");
@import url("03-tabela.css");
@import url("04-class_padrao.css");
@import url("05-contagem_titulos.css");
@import url("07-LES-Laboratorio_de_Engenharia_de_Software.css");
@import url("08-PW1-Programacao_para_Web_1.css");
@import url("09-BdD2-Banco_de_Dados_2.css");
@import url("10-LdR-Laboratorio_de_Redes.css");
@import url("11-TdS-Testes_de_Software.css");
@import url("06-sumario.css");