h1.les,
h1.bdd2,
h1.ldr,
h1.pw1,
h1.tds,
h1.padrao {
    counter-increment: h1counter;
    counter-reset: h2counter;
}

h2.les,
h2.bdd2,
h2.ldr,
h2.pw1,
h2.tds,
h2.padrao {
    counter-increment: h2counter;
    counter-reset: h3counter;
}

h3.les,
h3.bdd2,
h3.ldr,
h3.pw1,
h3.tds,
h3.padrao {
    counter-increment: h3counter;
}