@import url("01-root.css");

h1.les::before, h1.les::after {
    content: "⚙️";
}

h2.les::before {
    content: "⚙️ " counter(h1counter) "." counter(h2counter) ". » ";
    padding-right: 7px;
}

h3.les::before {
    content: "⚙️ " counter(h1counter) "." counter(h2counter) "." counter(h3counter) " . » ";
    padding-right: 7px;
}

div.les::before {
    content: "⚙️ » ";
    padding-right: 7px;
}

h1.les {
    justify-content: space-between;
    text-align: center;
    display: flex;
    padding-top: 5px;
}

blockquote.les {
    border-left: 4px solid var(--cor-les-destaque) !important;
}

.les {
    color: var(--cor-les-titulo);
    background-color: var(--cor-les-secundaria);
    border-left: 4px solid var(--cor-les-destaque) !important;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    display: flex;
}