/* Variáveis */
.sumario {
    --tamanho-titulo-sumario: 25px;
    --tamanho-descricao-sumario: 20px;
}

/* --- ESTRUTURA GLOBAL DO SUMÁRIO --- */
.sumario ul {
    list-style: none;
    padding-left: 0;
}

.sumario > ul {
    counter-reset: sumario-h1; 
}

/* Estilo dos números (Pseudo-elementos) */
.sumario a::before {
    display: inline-block;
    text-decoration: none; 
    margin-right: 8px;
    font-size: 20px;
    /* A cor será definida pelas variáveis de contexto abaixo */
    color: var(--cor-num-sumario) !important; 
}

/* --- HIERARQUIA E CONTADORES --- */
.sumario > ul > li {
    counter-increment: sumario-h1;
    counter-reset: sumario-h2;
    margin-top: 15px;
    font-size: var(--tamanho-titulo-sumario);
}

.sumario > ul > li > a::before {
    content: counter(sumario-h1) ". » ";
    font-size: var(--tamanho-titulo-sumario);
    font-weight: bold;
}

.sumario li ul li {
    counter-increment: sumario-h2;
    counter-reset: sumario-h3;
    margin-left: 1.5rem;
    font-size: var(--tamanho-titulo-sumario);
}

.sumario li ul li > a::before {
    content: counter(sumario-h1) "." counter(sumario-h2) ". » ";
    font-size: var(--tamanho-titulo-sumario);
    font-weight: bold;
}

.sumario li ul li ul li {
    counter-increment: sumario-h3;
    margin-left: 1.5rem;
    font-size: var(--tamanho-titulo-sumario);
}

.sumario li ul li ul li a::before {
    content: counter(sumario-h1) "." counter(sumario-h2) "." counter(sumario-h3) ". » ";
    font-size: var(--tamanho-titulo-sumario);
    opacity: 0.8;
}

.sumario p {
    font-size: var(--tamanho-descricao-sumario);
    margin-left: 2%; 
}