:root {
  --cor-fundo: #f0f0f0;
  --cor-texto: #333;
  --cor-borda: #ccc;
  --cor-BordaTabela: rgb(85, 78, 78);
}

.topico {
    border: 2px solid var(--cor-BordaTabela);
    padding: 5px;
    text-align: center;
  }
  
  .subtopico {
    border: 2px solid var(--cor-BordaTabela);
    padding: 5px;
  }