:root {
  --cor-fundo: #f0f0f0;
  --cor-texto: #333;
  --cor-borda: #ccc;
  --cor-BordaTabela: rgb(85, 78, 78);
}

#tabela tabela {
  display: flex;
  justify-content: center;
}

.tabela {
  display: flex;
  justify-content: center;
}